@model SEPMTool.Models.ViewModels.ProjectDetailsViewModel

<div class="main-container">
    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Overview</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="pages-app.html#">App Pages</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Project</li>
            </ol>
        </nav>
        <div class="dropdown">
            <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
                <i class="material-icons">settings</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#project-edit-modal">Edit Project</a>
                <a class="dropdown-item" href="#">Share</a>
                <a class="dropdown-item" href="#">Mark as Complete</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="#">Archive</a>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">
                <div class="page-header">
                    <h1>@Model.Project.Name</h1>
                    <p class="lead">@Model.Project.Description</p>
                    <div class="d-flex align-items-center">
                        <ul class="avatars">
                            @* List of project users avatars *@
                            @foreach (var user in @Model.Project.Users)
                            {
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="@user.Username">
                                        <img alt="@user.Username" class="avatar" src="~/assets/img/avatar-male-4.jpg" />
                                    </a>
                                </li>
                            }
                        </ul>
                        <button class="btn btn-round" data-toggle="modal" data-target="#user-manage-modal">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar bg-success" style="width:25%;"></div>
                        </div>
                        <div class="d-flex justify-content-between text-small">
                            <div class="d-flex align-items-center">
                                <i class="material-icons">playlist_add_check</i>
                                <span>3/12</span>
                            </div>
                            <span>Due: @Model.Project.Deadline</span>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="true">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#requirements" role="tab" aria-controls="requirements" aria-selected="false">Requirements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#awards" role="tab" aria-controls="awards" aria-selected="false">Awards</a>
                    </li>
                </ul>

                <div class="tab-content">
                    @* Start of Tasks *@
                    <div class="tab-pane fade show active" id="tasks" role="tabpanel" data-filter-list="card-list-body">
                        <div class="row content-list-head">
                            <div class="col-auto">
                                <h3>Tasks</h3>
                                <button class="btn btn-round" data-toggle="modal" data-target="#task-add-modal">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                            <form class="col-md-auto">
                                <div class="input-group input-group-round">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">filter_list</i>
                                        </span>
                                    </div>
                                    <input type="search" class="form-control filter-list-input" placeholder="Filter tasks" aria-label="Filter Tasks">
                                </div>
                            </form>
                        </div>
                        <!--end of content list head-->
                        <div class="content-list-body">
                            <div class="card-list">
                                <div class="card-list-head">
                                    <h6>Task Category</h6>
                                    <div class="dropdown">
                                        <button class="btn-options" type="button" id="cardlist-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Rename</a>
                                            <a class="dropdown-item text-danger" href="#">Archive</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-list-body">
                                    @if (Model.Project.Tasks.Count > 0)
                                    {
                                        @foreach (var task in Model.Project.Tasks)
                                        {
                                            <div class="card card-task">
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="card-title">
                                                        <a href="#">
                                                            <h6 data-filter-by="text">@task.Name</h6>
                                                        </a>
                                                        <span class="text-small">@task.Deadline</span>
                                                    </div>
                                                    <div class="card-meta">
                                                        <ul class="avatars">
                                                            @foreach (var user in task.Users)
                                                            {
                                                                <li>
                                                                    <a href="#" data-toggle="tooltip" title="Kenny">
                                                                        <img alt="Kenny Tran" class="avatar" src="~/assets/img/avatar-male-6.jpg" />
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                        <div class="d-flex align-items-center">
                                                            <i class="material-icons">playlist_add_check</i>
                                                            <span>3/4</span>
                                                        </div>
                                                        <div class="dropdown card-options">
                                                            <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="material-icons">more_vert</i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Mark as done</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#">Archive</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <!--end of content list body-->
                        </div>
                        <!--end of content list-->
                    </div>
                    @* End of task tab *@

                    @* Start of requirements *@
                    <div class="tab-pane fade" id="requirements" role="tabpanel" data-filter-list="dropzone-previews">
                        <div class="content-list">
                            <div class="row content-list-head">
                                <div class="col-auto">
                                    <h3>Requirements</h3>
                                </div>
                                <form class="col-md-auto">
                                    <div class="input-group input-group-round">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">filter_list</i>
                                            </span>
                                        </div>
                                        <input type="search" class="form-control filter-list-input" placeholder="Filter files" aria-label="Filter Tasks">
                                    </div>
                                </form>
                            </div>
                            <!--end of content list head-->
                            <div class="content-list-body row">
                                <div class="col">
                                    <ul class="list-group list-group-activity dropzone-previews flex-column-reverse">
                                        @foreach (var req in Model.Project.ProjectRequirements)
                                        {
                                            <li class="list-group-item">
                                                <div class="media align-items-center">
                                                    <ul class="avatars">
                                                        <li>
                                                            <div class="avatar bg-primary">
                                                                <i class="material-icons">insert_drive_file</i>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="media-body d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <a href="#" data-filter-by="text">@req.Name</a>
                                                            <br>
                                                            <span class="text-small" data-filter-by="text">@req.Description</span>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="material-icons">more_vert</i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="#">Download</a>
                                                                <a class="dropdown-item" href="#">Share</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--end of content list-->
                    </div>
                    <div class="tab-pane fade" id="awards" role="tabpanel" data-filter-list="list-group-activity">
                        <div class="content-list">
                            <div class="row content-list-head">
                                <div class="col-auto">
                                    <h3>Awards</h3>
                                </div>
                                <form class="col-md-auto">
                                    <div class="input-group input-group-round">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">filter_list</i>
                                            </span>
                                        </div>
                                        <input type="search" class="form-control filter-list-input" placeholder="Filter activity" aria-label="Filter activity">
                                    </div>
                                </form>
                            </div>
                            <!--end of content list head-->
                            <div class="content-list-body">
                                <ol class="list-group list-group-activity">

                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <ul class="avatars">
                                                <li>
                                                    <div class="avatar bg-primary">
                                                        <i class="material-icons">emoji_events</i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img alt="Claire" src="assets/img/avatar-female-1.jpg" class="avatar" data-filter-by="alt" />
                                                </li>
                                            </ul>
                                            <div class="media-body">
                                                <div>
                                                    <span class="h6" data-filter-by="text">Claire</span>
                                                    <span data-filter-by="text">was awarded</span><a href="#" data-filter-by="text">Developer of the month!</a>
                                                </div>
                                                <span class="text-small" data-filter-by="text">Just now</span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="media align-items-center">
                                            <ul class="avatars">
                                                <li>
                                                    <div class="avatar bg-primary">
                                                        <i class="material-icons">emoji_events</i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="avatar bg-primary">
                                                        <i class="material-icons">group</i>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="media-body">
                                                <div>
                                                    <span class="h6" data-filter-by="text">Congratultations!</span>
                                                    <span data-filter-by="text">Your team won an award for <a href="#" data-filter-by="text">Completing task XYZ in time!</a></span>

                                                </div>
                                                <span class="text-small" data-filter-by="text">5 hours ago</span>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <!--end of content list-->
                    </div>
                </div>

                @* Manage Users Modal *@
                <form class="modal fade" id="user-manage-modal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Manage Users</h5>
                                <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                            <!--end of modal head-->
                            <div class="modal-body">
                                <div class="users-manage" data-filter-list="form-group-users">
                                    <div class="mb-3">
                                        <ul class="avatars text-center">

                                            <li>
                                                <img alt="Claire Connors" src="assets/img/avatar-female-1.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors" />
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="input-group input-group-round">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">filter_list</i>
                                            </span>
                                        </div>
                                        <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                                    </div>
                                    <div class="form-group-users">

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="user-manage-1" checked>
                                            <label class="custom-control-label" for="user-manage-1">
                                                <span class="d-flex align-items-center">
                                                    <img alt="Claire Connors" src="assets/img/avatar-female-1.jpg" class="avatar mr-2" />
                                                    <span class="h6 mb-0" data-filter-by="text">Claire Connors</span>
                                                </span>
                                            </label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="user-manage-2" checked>
                                            <label class="custom-control-label" for="user-manage-2">
                                                <span class="d-flex align-items-center">
                                                    <img alt="Marcus Simmons" src="assets/img/avatar-male-1.jpg" class="avatar mr-2" />
                                                    <span class="h6 mb-0" data-filter-by="text">Marcus Simmons</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal body-->
                            <div class="modal-footer">
                                <button role="button" class="btn btn-primary" type="submit">
                                    Done
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                @* Edit Project Modal *@
                <form class="modal fade" id="project-edit-modal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Project</h5>
                                <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                            <!--end of modal head-->
                            <ul class="nav nav-tabs nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="project-edit-details-tab" data-toggle="tab" href="#project-edit-details" role="tab" aria-controls="project-edit-details" aria-selected="true">Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="project-edit-members-tab" data-toggle="tab" href="#project-edit-members" role="tab" aria-controls="project-edit-members" aria-selected="false">Members</a>
                                </li>
                            </ul>
                            <div class="modal-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="project-edit-details" role="tabpanel">
                                        <h6>General Details</h6>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Name</label>
                                            <input class="form-control col" type="text" value="Brand Concept and Design" name="project-name" />
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3">Description</label>
                                            <textarea class="form-control col" rows="3" placeholder="Project description" name="project-description">Research, ideate and present brand concepts for client consideration</textarea>
                                        </div>
                                        <hr>
                                        <h6>Timeline</h6>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Start Date</label>
                                            <input class="form-control col" type="text" name="project-start" placeholder="Select a date" data-flatpickr data-default-date="2021-04-21" data-alt-input="true" />
                                        </div>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Due Date</label>
                                            <input class="form-control col" type="text" name="project-due" placeholder="Select a date" data-flatpickr data-default-date="2021-09-15" data-alt-input="true" />
                                        </div>
                                        <div class="alert alert-warning text-small" role="alert">
                                            <span>You can change due dates at any time.</span>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="tab-pane fade" id="project-edit-members" role="tabpanel">
                                        <div class="users-manage" data-filter-list="form-group-users">
                                            <div class="mb-3">
                                                <ul class="avatars text-center">
                                                    <li>
                                                        <img alt="Claire Connors" src="assets/img/avatar-female-1.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="input-group input-group-round">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">filter_list</i>
                                                    </span>
                                                </div>
                                                <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                                            </div>
                                            <div class="form-group-users">

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="project-user-1" checked>
                                                    <label class="custom-control-label" for="project-user-1">
                                                        <span class="d-flex align-items-center">
                                                            <img alt="Claire Connors" src="assets/img/avatar-female-1.jpg" class="avatar mr-2" />
                                                            <span class="h6 mb-0" data-filter-by="text">Claire Connors</span>
                                                        </span>
                                                    </label>
                                                </div>

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="project-user-2" checked>
                                                    <label class="custom-control-label" for="project-user-2">
                                                        <span class="d-flex align-items-center">
                                                            <img alt="Marcus Simmons" src="assets/img/avatar-male-1.jpg" class="avatar mr-2" />
                                                            <span class="h6 mb-0" data-filter-by="text">Marcus Simmons</span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal body-->
                            <div class="modal-footer">
                                <button role="button" class="btn btn-primary" type="submit">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <form class="modal fade" id="task-add-modal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">New Task</h5>
                                <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                            <!--end of modal head-->
                            <ul class="nav nav-tabs nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="task-add-details-tab" data-toggle="tab" href="#task-add-details" role="tab" aria-controls="task-add-details" aria-selected="true">Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="task-add-members-tab" data-toggle="tab" href="#task-add-members" role="tab" aria-controls="task-add-members" aria-selected="false">Members</a>
                                </li>
                            </ul>
                            <div class="modal-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="task-add-details" role="tabpanel">
                                        <h6>General Details</h6>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Name</label>
                                            <input class="form-control col" type="text" placeholder="Task name" name="task-name" />
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3">Description</label>
                                            <textarea class="form-control col" rows="3" placeholder="Task description" name="task-description"></textarea>
                                        </div>
                                        <hr>
                                        <h6>Timeline</h6>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Start Date</label>
                                            <input class="form-control col" type="text" name="task-start" placeholder="Select a date" data-flatpickr data-default-date="2021-04-21" data-alt-input="true" />
                                        </div>
                                        <div class="form-group row align-items-center">
                                            <label class="col-3">Due Date</label>
                                            <input class="form-control col" type="text" name="task-due" placeholder="Select a date" data-flatpickr data-default-date="2021-09-15" data-alt-input="true" />

                                        </div>
                                        <div class="alert alert-warning text-small" role="alert">
                                            <span>You can change due dates at any time.</span>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="task-add-members" role="tabpanel">
                                        <div class="users-manage" data-filter-list="form-group-users">
                                            <div class="mb-3">
                                                <ul class="avatars text-center">

                                                    <li>
                                                        <img alt="Claire Connors" src="assets/img/avatar-female-1.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="input-group input-group-round">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">filter_list</i>
                                                    </span>
                                                </div>
                                                <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                                            </div>
                                            <div class="form-group-users">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="task-user-1" checked>
                                                    <label class="custom-control-label" for="task-user-1">
                                                        <span class="d-flex align-items-center">
                                                            <img alt="Claire Connors" src="assets/img/avatar-female-1.jpg" class="avatar mr-2" />
                                                            <span class="h6 mb-0" data-filter-by="text">Claire Connors</span>
                                                        </span>
                                                    </label>
                                                </div>

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="task-user-2" checked>
                                                    <label class="custom-control-label" for="task-user-2">
                                                        <span class="d-flex align-items-center">
                                                            <img alt="Marcus Simmons" src="assets/img/avatar-male-1.jpg" class="avatar mr-2" />
                                                            <span class="h6 mb-0" data-filter-by="text">Marcus Simmons</span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal body-->
                            <div class="modal-footer">
                                <button role="button" class="btn btn-primary" type="submit">
                                    Create Task
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}