@model SEPMTool.Models.ViewModels.ProjectIndexViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-11 col-xl-10">
            <div class="page-header">
                <h1>All Projects</h1>
                <div class="float-right checkboxes" onselectstart="return false"><label onmouseover="" style="cursor: pointer;">My Projects <input type="checkbox" class="tableCheckbox" id="myProjects" name="myProjects" /></label></div>

                <table id="projectList" class="table table-hover" style="width:100%">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col" style="text-align: center">Progress</th>
                            <th scope="col" style="text-align: center">Priority</th>
                            <th scope="col" style="text-align: right">Start Date</th>
                            <th scope="col" style="text-align: right">Deadline</th>
                            <th style="display:none">CurrentUserId</th>
                            @*<th scope="col"></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in @Model.Projects)
                        {
                            <tr onclick="location.href='@Url.Action("Details", new { id = @project.Id })'" onmouseover="" style="cursor: pointer;">
                                <td>@project.Name</td>
                                <td style="text-align: center">
                                    <div class="progress-table">
                                        <div class="progress-bar-table bg-success" role="progressbar" style="width: @project.Progress%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span style="display:none">@project.Progress</span></div>
                                    </div>
                                </td>
                                <td style="text-align: center">

                                    @switch (project.Priority)
                                    {
                                        case Priority.VeryLow:<b-badge style="background-color: #2dc937; width: 70px" data-toggle="tooltip" data-placement="bottom"><span style="display:none">5</span>Very Low</b-badge>
                                            break;

                                        case Priority.Low: <b-badge style="background-color: #99c140; width: 70px" data-toggle="tooltip" data-placement="bottom"><span style="display:none">4</span>Low</b-badge>
                                            break;

                                        case Priority.Medium: <b-badge style="background-color: #e7b416; width: 70px" data-toggle="tooltip" data-placement="bottom"><span style="display:none">3</span>Medium</b-badge>
                                            break;

                                        case Priority.High: <b-badge style="background-color: #e7b416; width: 70px" data-toggle="tooltip" data-placement="bottom"><span style="display:none">2</span>High</b-badge>
                                            break;

                                        case Priority.VeryHigh: <b-badge style="background-color: #cc3232; width: 70px" data-toggle="tooltip" data-placement="bottom"><span style="display:none">1</span>Very High</b-badge>
                                            break;
                                    }

                                </td>
                                <td style="text-align: right">@project.StartDate.ToString("dd MMMM yyyy")</td>
                                <td style="text-align: right">@project.Deadline.ToString("dd MMMM yyyy")</td>
                                <td style="display:none">
                                    @{if (project.Users.Any(x => x.UserId == Model.ActiveUserId))
                                        {
                                            @Html.Raw("True");
                                        }
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <div class="d-flex justify-content-center" style="width: 100%">
                    @*<cs-pager cs-paging-pagenumber="@Model.PageNumber"
                      cs-paging-totalitems="@Model.TotalItems"
                      cs-paging-pagesize="@Model.PageSize"
                      cs-pagenumber-param="pagenumber"
                      asp-controller="Projects"
                      asp-action="Index"
                      cs-pager-li-current-class="page-item active"
                      cs-pager-li-other-class="page-item"
                      cs-pager-li-non-active-class="page-item disabled"
                      cs-pager-link-current-class="page-link"
                      cs-pager-link-other-class="page-link">
            </cs-pager>*@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
           var table = $('#projectList').DataTable({
                stateSave: true,
            });

            $('#myProjects').change(function () {
                if (this.checked) {
                    table.columns(5).search("true").draw();
                } else {
                    table.columns(5).search("").draw();
                }
            })
        });
    </script>
}
