@model SEPMTool.Models.ViewModels.ProjectCreateViewModel

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Create">
    <div class="container">
        <div class="page-header">
            <h1>New Project</h1>
            <p class="lead">Project tasks can be added and assigned after the project is created.</p>
        </div>

        <div class="card">
            <div class="progress" style="height:5px">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success main-progress" role="progressbar" style="width:0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div v-show="step == 1">
                <div class="card-header"><b>Step 1: General Details</b></div>
                <div class="card-body">
                    <div class="col auto"></div>
                    <h6>Project Details</h6>
                    <div class="form-group row align-items-center">
                        <label for="name" class="col-2">Name</label>
                        <input v-model="projectModel.name" class="form-control col-4" placeholder="Project name" id="name" />
                        <div id="form-validation">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message</small>
                            <input type="hidden" :value="projectModel.name" :name="'Name'" />
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-2">Description</label>
                        <textarea v-model="projectModel.description" class="form-control col-4" rows="3" placeholder="Project description" id="description"></textarea>
                        <div id="form-validation">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small></small>
                        </div>
                        <input type="hidden" :value="projectModel.description" :name="'Description'" />
                    </div>
                    <hr>
                    <h6>Timeline</h6>
                    <div class="form-group row align-items-center">
                        <label class="col-2">Start Date</label>
                        <input v-model="projectModel.startDate" class="form-control col-3 flatpickr-input" placeholder="Select a date" data-flatpickr data-alt-input="true" id="startDate" />
                        <div id="form-validation">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small></small>
                        </div>
                        <input type="hidden" :value="projectModel.startDate" :name="'StartDate'" />
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-2">Deadline</label>
                        <input v-model="projectModel.deadline" class="form-control col-3 flatpickr-input" placeholder="Select a date" data-flatpickr data-alt-input="true" id="deadline" />
                        <div id="form-validation">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small></small>
                        </div>
                        <input type="hidden" :value="projectModel.deadline" :name="'Deadline'" />
                    </div>
                    <hr>
                    <h6>Project Priority</h6>
                    <div class="form-group row align-items-center">
                        <label class="col-2">Priority</label>
                        <select v-model="projectModel.priority" asp-items="Html.GetEnumSelectList<Priority>()" class="form-control col-2" id="priority">
                            <option disabled value=""></option>
                        </select>
                        <div id="form-validation">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small></small>
                        </div>
                        <input type="hidden" :value="projectModel.priority" :name="'Priority'" />
                    </div>
                </div>
            </div>

            <div v-show="step == 2">
                <div class="card-header"><b>Step 2: Project Requirements</b></div>
                <div class="card-body">
                    <div class="alert alert-danger text-center alert-dismissible" id="reqValidationAlert" style="display:none">
                        <button type="button" class="close" onclick="$('#reqValidationAlert').hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div id="reqValidationAlertDetails">Please add a project requirement before continuing.</div>
                    </div>
                    <div class="card-list-body" v-for="(requirement, index) in requirementsList">

                        <div class="card card-task">
                            <div class="card-body">
                                <div class="card-title">
                                    <a href="#">
                                        <h6 data-filter-by="text">
                                            <input type="hidden" :value='requirement.name' :name="'ProjectRequirements[' + index + '].name'" />
                                            {{ requirement.name }}
                                        </h6>
                                    </a>
                                    <span class="text-small">
                                        <input type="hidden" :value="requirement.description" :name="'ProjectRequirements[' + index + '].description'" />
                                        {{ requirement.description }}
                                    </span>
                                    <br />
                                    <span class="text-small">
                                        <input type="hidden" :value="requirement.category" :name="'ProjectRequirements[' + index + '].category'" />
                                    </span>
                                    <br />
                                    <span class="text-small">
                                        <input type="hidden" :value="requirement.priority" :name="'ProjectRequirements[' + index + '].priority'" />
                                    </span>
                                </div>
                                <div class="card-meta">
                                    <div>

                                        <b-badge class="badge badge-pill badge-success requirement-badge" data-toggle="tooltip" data-placement="bottom" title="Quality Score" v-if="requirement.quality === 0">A</b-badge>
                                        <b-badge class="badge badge-pill badge-success requirement-badge" data-toggle="tooltip" data-placement="bottom" title="Quality Score" v-else-if="requirement.quality === 1">B</b-badge>
                                        <b-badge class="badge badge-pill badge-warning requirement-badge" data-toggle="tooltip" data-placement="bottom" title="Quality Score" v-else-if="requirement.quality === 2">C</b-badge>
                                        <b-badge class="badge badge-pill badge-warning requirement-badge" data-toggle="tooltip" data-placement="bottom" title="Quality Score" v-else-if="requirement.quality === 3">D</b-badge>
                                        <b-badge class="badge badge-pill badge-danger requirement-badge" data-toggle="tooltip" data-placement="bottom" title="Quality Score" v-else-if="requirement.quality === 4">E</b-badge>
                                        <b-badge class="badge badge-pill badge-danger requirement-badge" data-toggle="tooltip" data-placement="bottom" title="Quality Score" v-else>F</b-badge>

                                        <b-badge class="badge badge-pill badge-success requirement-badge" data-toggle="tooltip" data-placement="bottom" title="Requirement Priority" v-if="requirement.priority == 0">Very Low</b-badge>
                                        <b-badge class="badge badge-pill badge-success requirement-badge" data-toggle="tooltip" data-placement="bottom" title="Requirement Priority" v-else-if="requirement.priority == 1">Low</b-badge>
                                        <b-badge class="badge badge-pill badge-warning requirement-badge" data-toggle="tooltip" data-placement="bottom" title="Requirement Priority" v-else-if="requirement.priority == 2">Medium</b-badge>
                                        <b-badge class="badge badge-pill badge-danger requirement-badge" data-toggle="tooltip" data-placement="bottom" title="Requirement Priority" v-else-if="requirement.priority == 3">High</b-badge>
                                        <b-badge class="badge badge-pill badge-danger requirement-badge" data-toggle="tooltip" data-placement="bottom" title="Requirement Priority" v-else-if="requirement.priority == 4">Very High</b-badge>
                                                                                      
                                        <b-badge class="badge badge-pill badge-secondary requirement-badge" data-toggle="tooltip" data-placement="bottom" title="Requirement Category" v-if="requirement.category == 0">Functional</b-badge>
                                        <b-badge class="badge badge-pill badge-secondary requirement-badge" data-toggle="tooltip" data-placement="bottom" title="Requirement Category" v-else-if="requirement.category == 1">Non-Funct</b-badge>
                                        <b-badge class="badge badge-pill badge-secondary requirement-badge" data-toggle="tooltip" data-placement="bottom" title="Requirement Category" v-else-if="requirement.category == 2">Domain</b-badge>
                                    </div>
                                    <div class="dropdown card-options">
                                        <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" @@click="requirementClicked(requirement, index)">Edit</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger" @@click="deleteRequirement(index)">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*</div>*@
                    <br />
                    <button role="button" type="button" class="btn btn-outline-primary" data-toggle="modal" v-on:click="newRequirementModal()" data-target="#new-requirement-modal">
                        New Requirement
                    </button>
                </div>
            </div>

            <div v-show="step == 3">
                <div class="card-header"><b>Step 3: Project Members</b></div>
                <div class="card-body">
                    @*<div class="tab-pane fade" id="project-add-members" role="tabpanel">*@
                    <div class="users-manage" data-filter-list="form-group-users">
                        <div class="input-group input-group-round">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">filter_list</i>
                                </span>
                            </div>
                            <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                        </div>
                        <div class="form-group-users">

                            @for (int i = 0; i < Model.AllUsers.Count; i++)
                            {
                            <div class="custom-control custom-checkbox">
                                <input asp-for="@Model.AllUsers[i].IsSelected" type="checkbox" class="custom-control-input" />
                                <label asp-for="@Model.AllUsers[i].IsSelected" class="custom-control-label">
                                    <span class="d-flex align-items-center">
                                        <img alt="Kenny Tran" src="~/assets/img/defaultUserIcon.jpg" class="avatar mr-2" />
                                        <span class="h6 mb-0" data-filter-by="text">@Model.AllUsers[i].Username</span>
                                    </span>
                                </label>
                                <input asp-for="@Model.AllUsers[i].UserId" type="hidden" />
                                <input asp-for="@Model.AllUsers[i].Username" type="hidden" />
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="button" v-show="step !== 1" @@click="prevStep">Previous Step</button>
                <button class="btn btn-primary float-lg-right" type="button" v-show="step != totalsteps" @@click="nextStep">Next Step</button>
                <span v-show="step == 3"><button class="btn btn-primary float-right" type="submit" @@onclick="nextStep">Create Project</button></span>
            </div>
        </div>

        @* New Requirements Modal *@
        <div class="modal fade" id="requirement-modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{modalTitle}}</h5>
                        <button type="button" class="close btn btn-round" v-on:click="closeModal()">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <!--end of modal head-->
                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="col-8">
                                    <h6>Requirement Details</h6>
                                    <div class="form-group row align-items-center">
                                        <label class="col-3">Title</label>
                                        <input v-model="requirement.name" class="form-control col" placeholder="Requirement title" id="reqname" />
                                        <div id="form-validation">
                                            <i class="fas fa-check-circle"></i>
                                            <i class="fas fa-exclamation-circle"></i>
                                            <small></small>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-3">Description</label>
                                        <textarea v-model="requirement.description" class="form-control col" rows="3" placeholder="Requirement description" id="reqdescription" v-on:keyup="detectWords()" v-on:keyup.backspace="detectWords()"></textarea>
                                        <div id="form-validation">
                                            <i class="fas fa-check-circle"></i>
                                            <i class="fas fa-exclamation-circle"></i>
                                            <small></small>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-3">Category</label>
                                        <select v-model="requirement.category" asp-items="Html.GetEnumSelectList<RequirementCategory>()" class="form-control col-4" id="reqcategory">
                                            <option value=""></option>
                                        </select>
                                        <div id="form-validation">
                                            <i class="fas fa-check-circle"></i>
                                            <i class="fas fa-exclamation-circle"></i>
                                            <small></small>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-3">Priority</label>
                                        <select v-model="requirement.priority" asp-items="Html.GetEnumSelectList<Priority>()" class="form-control col-4" id="reqpriority">
                                            <option value=""></option>
                                        </select>
                                        <div id="form-validation">
                                            <i class="fas fa-check-circle"></i>
                                            <i class="fas fa-exclamation-circle"></i>
                                            <small></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <h6>Quality Evaluation</h6>
                                    <small>Optionality:</small>
                                    <span class="float-right">
                                        <i class="fas fa-info-circle b-popover-primary"
                                           tabindex="0"
                                           data-html="true"
                                           data-toggle="popover"
                                           data-trigger="focus"
                                           title="<b>Optionality Indicator</b>"
                                           data-content="
                                        <div>
                                        An Optionality Indicator reveals a requirement sentence that contains an optional aspect.
                                        </div>
                                        <hr />
                                        <b>Example indicators:</b>
                                        <i>possibly, eventually, if case, if possible, if appropriate, if needed.</i>
                                        ">
                                        </i>
                                    </span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" :style="{width: this.optionalityPercentage + '%' }"></div>
                                    </div>
                                    <br />
                                    <small>Subjectivity:</small>
                                    <span class="float-right">
                                        <i class="fas fa-info-circle b-popover-primary"
                                           tabindex="0"
                                           data-html="true"
                                           data-toggle="popover"
                                           data-trigger="focus"
                                           title="<b>Subjectivity Indicator</b>"
                                           data-content="
                                        <div>
                                        A Subjectivity Indicator reveals sentences that contain personal opinion.
                                        </div>
                                        <hr />
                                        <b>Example indicators:</b>
                                        <i>similar, better, similarly, worse, having in mind, take into account, take into consideration.</i>
                                        ">
                                        </i>
                                    </span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" :style="{width: this.subjectivityPercentage + '%' }"></div>
                                    </div>
                                    <br />
                                    <small>Vagueness:</small>
                                    <span class="float-right">
                                        <i class="fas fa-info-circle b-popover-primary"
                                           tabindex="0"
                                           data-html="true"
                                           data-toggle="popover"
                                           data-trigger="focus"
                                           title="<b>Vagueness Indicator</b>"
                                           data-content="
                                        <div>
                                        A Vagueness Indicator is pointed out
                                        if the sentence includes words
                                        holding inherent vagueness
                                        </div>
                                        <hr />
                                        <b>Example indicators:</b>
                                        <i>clear, easy, strong, good, bad, efficient, useful, significant, adequate, fast, recent, far, close, in front.</i>
                                        ">
                                        </i>
                                    </span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" :style="{width: this.vaguenessPercentage + '%' }"></div>
                                    </div>
                                    <br />
                                    <small>Weakness:</small>
                                    <span class="float-right">
                                        <i class="fas fa-info-circle b-popover-primary"
                                           tabindex="0"
                                           data-html="true"
                                           data-toggle="popover"
                                           data-trigger="focus"
                                           title="<b>Weakness Indicator</b>"
                                           data-content="
                                        <div>
                                        A Weakness Indicator is pointed out
                                        if a sentence contains a weak
                                        main verb.
                                        </div>
                                        <hr />
                                        <b>Example indicators:</b>
                                        <i>can, could, may.</i>
                                        ">
                                        </i>
                                    </span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" :style="{width: this.weaknessPercentage + '%' }"></div>
                                    </div>
                                    <br />
                                    <small>Implicity:</small>
                                    <span class="float-right">
                                        <i class="fas fa-info-circle b-popover-primary"
                                           tabindex="0"
                                           data-html="true"
                                           data-toggle="popover"
                                           data-trigger="focus"
                                           title="<b>Implicity Indicator</b>"
                                           data-content="
                                        <div>
                                        An Implicity Indicator is pointed out in a
                                        sentence when the subject is generic rather than
                                        specific.
                                        </div>
                                        <hr />
                                        <b>Example indicators:</b>
                                        <i>this, these, those, it, they, previous, next, following, last, above, below.</i>
                                        ">
                                        </i>
                                    </span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" :style="{width: this.implicityPercentage + '%' }"></div>
                                    </div>
                                    <br />
                                    <small>Multiplicity:</small>                                    
                                    <span class="float-right">
                                        <i class="fas fa-info-circle b-popover-primary"
                                        tabindex="0"
                                        data-html="true"
                                        data-toggle="popover"
                                        data-trigger="focus"
                                        title="<b>Multiplicity Indicator</b>"
                                        data-content="
                                        <div>
                                        A Multiplicity Indicator is pointed if the sentence 
                                        has more than one direct or indirect
                                        complement that specifies its subject.
                                        </div>
                                        <hr />
                                        <b>Example indicators:</b>
                                        <i>and, or, and/or.</i>
                                        ">
                                        </i>
                                    </span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" :style="{width: this.multiplicityPercentage + '%' }"></div>
                                    </div>
                                    <br />
                                    Quality Rating:
                                    <b v-if="totalIndicators == 0" style="color:#28A745">A</b>
                                    <b v-else-if="totalIndicators == 1" style="color:#FFC107">B</b>
                                    <b v-else-if="totalIndicators == 2" style="color:#FFC107">C</b>
                                    <b v-else-if="totalIndicators == 3" style="color:#DC3545">D</b>
                                    <b v-else-if="totalIndicators == 4" style="color:#DC3545">E</b>
                                    <b v-else-if="totalIndicators >= 5" style="color:#DC3545">F</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of modal body-->
                    <div class="modal-footer">
                        <button type="button" role="button" class="btn btn-primary" @@click="addRequirement" v-if="this.modalTitle === 'New Requirement'">
                            Add Requirement
                        </button>
                        <button type="button" role="button" class="btn btn-primary" @@click="editRequirement(requirement.index)" v-if="this.modalTitle === 'Edit Requirement'">
                            Update Requirement
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                placement: 'right',
                trigger: 'hover'
            });
        });
    </script>

    <script>
        vueMixins.push({
            data: {

                step: 1,
                totalsteps: 3,

                modalTitle: '',

                projectModel: {
                    name: null,
                    description: null,
                    startDate: null,
                    deadline: null,
                    priority: null,
                },

                validation: {
                    nameValidation: '',
                },

                requirement:
                {
                    index: '',
                    name: '',
                    description: '',
                    category: '',
                    priority: '',
                    quality: '',
                },
                requirementsList: [],

                optionalityIndicators: [
                    {
                        word: 'possibly',
                        true: 0
                    },
                    {
                        word: 'eventually',
                        true: 0
                    },
                    {
                        word: 'if case',
                        true: 0
                    },
                    {
                        word: 'if possible',
                        true: 0
                    },
                    {
                        word: 'if appropriate',
                        true: 0
                    },
                    {
                        word: 'if needed',
                        true: 0
                    },
                ],

                subjectivityIndicators: [
                    {
                        word: 'similar',
                        true: 0
                    },
                    {
                        word: 'better',
                        true: 0
                    },
                    {
                        word: 'similarly',
                        true: 0
                    },
                    {
                        word: 'worse',
                        true: 0
                    },
                    {
                        word: 'having in mind',
                        true: 0
                    },
                    {
                        word: 'take into account',
                        true: 0
                    }
                ],

                vaguenessIndicators: [
                    {
                        word: 'clear',
                        true: 0
                    },
                    {
                        word: 'clearly',
                        true: 0
                    },
                    {
                        word: 'easy',
                        true: 0
                    },
                    {
                        word: 'easily',
                        true: 0
                    },
                    {
                        word: 'strong',
                        true: 0
                    },
                    {
                        word: 'good',
                        true: 0
                    },
                    {
                        word: 'bad',
                        true: 0
                    },
                    {
                        word: 'efficient',
                        true: 0
                    },
                    {
                        word: 'useful',
                        true: 0
                    },
                    {
                        word: 'significant',
                        true: 0
                    },
                    {
                        word: 'adequate',
                        true: 0
                    },
                    {
                        word: 'fast',
                        true: 0
                    },
                    {
                        word: 'recent',
                        true: 0
                    },
                    {
                        word: 'far',
                        true: 0
                    },
                    {
                        word: 'close',
                        true: 0
                    },
                    {
                        word: 'in front',
                        true: 0
                    },
                ],

                weaknessIndicators: [
                    {
                        word: 'can',
                        true: 0
                    },
                    {
                        word: 'could',
                        true: 0
                    },
                    {
                        word: 'may',
                        true: 0
                    }
                ],

                implicityIndicators: [
                    {
                        word: 'this',
                        true: 0
                    },
                    {
                        word: 'these',
                        true: 0
                    },
                    {
                        word: 'that',
                        true: 0
                    },
                    {
                        word: 'those',
                        true: 0
                    },
                    {
                        word: 'it',
                        true: 0
                    },
                    {
                        word: 'they',
                        true: 0
                    },
                    {
                        word: 'previous',
                        true: 0
                    },
                    {
                        word: 'next',
                        true: 0
                    },
                    {
                        word: 'following',
                        true: 0
                    },
                    {
                        word: 'last',
                        true: 0
                    },
                    {
                        word: 'above',
                        true: 0
                    },
                    {
                        word: 'below',
                        true: 0
                    },
                ],

                multiplicityIndicators: [
                    {
                        word: 'and',
                        true: 0
                    },
                    {
                        word: 'or',
                        true: 0
                    },
                    {
                        word: 'and/or',
                        true: 0
                    }
                ],

            },
            computed: {

                totalIndicators: function () { return (this.optionalityIndicatorCount + this.subjectivityIndicatorCount + this.vaguenessIndicatorCount + this.weaknessIndicatorCount + this.implicityIndicatorCount + this.multiplicityIndicatorCount) },

                optionalityIndicatorCount: function () { return this.optionalityIndicators.filter(word => word.true).length },
                optionalityPercentage: function () { return parseFloat(this.optionalityIndicatorCount * 300 / this.wordCount) },

                subjectivityIndicatorCount: function () { return this.subjectivityIndicators.filter(word => word.true).length },
                subjectivityPercentage: function () { return parseFloat(this.subjectivityIndicatorCount * 300 / this.wordCount) },

                vaguenessIndicatorCount: function () { return this.vaguenessIndicators.filter(word => word.true).length },
                vaguenessPercentage: function () { return parseFloat(this.vaguenessIndicatorCount * 300 / this.wordCount) },

                weaknessIndicatorCount: function () { return this.weaknessIndicators.filter(word => word.true).length },
                weaknessPercentage: function () { return parseFloat(this.weaknessIndicatorCount * 300 / this.wordCount) },

                implicityIndicatorCount: function () { return this.implicityIndicators.filter(word => word.true).length },
                implicityPercentage: function () { return parseFloat(this.implicityIndicatorCount * 300 / this.wordCount) },

                multiplicityIndicatorCount: function () { return this.multiplicityIndicators.filter(word => word.true).length },
                multiplicityPercentage: function () { return parseFloat(this.multiplicityIndicatorCount * 300 / this.wordCount) },

                wordCount() {
                    return this.requirement.description.trim().split(/\s+/).length;
                },

                allArrays: function () { return [...this.optionalityIndicators, ...this.subjectivityIndicators, ...this.vaguenessIndicators, ...this.weaknessIndicators, ...this.implicityIndicators, ...this.multiplicityIndicators] },

            },
            methods: {
                /*
                 * Form Step Functions
                 */

                // Go to foward 1 step
                nextStep: function () {
                    if (this.step == 1) {
                        if (this.checkInputsP1()) {
                            this.setProgressBar(this.step++);
                            return true;
                        }
                    }
                    if (this.step == 2) {
                        if (this.checkInputsP2()) {
                            this.setProgressBar(this.step++);
                        }
                    }
                },

                // Go back 1 step
                prevStep: function () {
                    this.setProgressBar(this.step--);
                },

                /*
                 * Form Validation
                 */

                // validate inputs on page 1
                checkInputsP1: function () {
                    const name = document.getElementById('name');
                    const description = document.getElementById('description');
                    const startDate = document.getElementById('startDate');
                    const deadline = document.getElementById('deadline');
                    const priority = document.getElementById('priority');
                    var currentDate = new Date();

                    if (!this.projectModel.name) {
                        this.setErrorFor(name, "Enter a project name.");
                    } else {
                        this.setSuccessFor(name);
                    }

                    if (!this.projectModel.description) {
                        this.setErrorFor(description, "Enter a project description.");
                    } else {
                        this.setSuccessFor(description);
                    }

                    if (this.projectModel.startDate < currentDate) {
                        this.setErrorFor(startDate, "Enter a project start date.");
                    } else {
                        this.setSuccessFor(startDate);
                    }

                    if (this.projectModel.deadline < currentDate) {
                        this.setErrorFor(deadline, "Enter a project deadline.");
                    } else {
                        this.setSuccessFor(deadline);
                    }

                    if (!this.projectModel.priority) {
                        this.setErrorFor(priority, "Enter a project priority.");
                    } else {
                        this.setSuccessFor(priority);
                    }

                    if (name.parentElement.classList.contains("success")
                        && description.parentElement.classList.contains("success")
                        && startDate.parentElement.classList.contains("success")
                        && deadline.parentElement.classList.contains("success")
                        && priority.parentElement.classList.contains("success")) {
                        return true;
                    }
                },

                // Check inputs on page 2
                checkInputsP2: function () {
                    if (this.requirementsList.length > 0) {
                        return true;
                    } else {
                        $('#reqValidationAlert').fadeTo(2000, 500).slideUp(500, function () {
                            $("#reqValidationAlert").slideUp(500);
                        });
                    }
                },

                // Check if the requirements are empty
                checkEmptyRequirements: function () {
                    if (this.requirementsList.length > 0) {
                        return true;
                    } else {
                        $('#reqValidationAlert').fadeTo(2000, 500).slideUp(500, function () {
                            $("#reqValidationAlert").slideUp(500);
                        });
                    }
                },

                // validate the input on the requirements modal
                checkInputsRequirementsModal: function () {
                    const name = document.getElementById('reqname');
                    const description = document.getElementById('reqdescription');
                    const category = document.getElementById('reqcategory');
                    const priority = document.getElementById('reqpriority');

                    if (!this.requirement.name) {
                        this.setErrorFor(name, "Required!");
                    } else {
                        this.setSuccessFor(name);
                    }

                    if (!this.requirement.description) {
                        this.setErrorFor(description, "Required!");
                    } else {
                        this.setSuccessFor(description);
                    }

                    if (!this.requirement.category) {
                        this.setErrorFor(category, "Required!");
                    } else {
                        this.setSuccessFor(category);
                    }

                    if (!this.requirement.priority) {
                        this.setErrorFor(priority, "Required!");
                    } else {
                        this.setSuccessFor(priority);
                    }

                    if (name.parentElement.classList.contains("success")
                        && description.parentElement.classList.contains("success")
                        && category.parentElement.classList.contains("success")
                        && priority.parentElement.classList.contains("success")) {
                        name.parentElement.classList.remove("success");
                        description.parentElement.classList.remove("success");
                        category.parentElement.classList.remove("success");
                        priority.parentElement.classList.remove("success");
                        return true;
                    }
                },

                // Set error validation message
                setErrorFor: function (input, message) {
                    const formGroup = input.parentElement;
                    //const small = formGroup.querySelector('small');
                    //small.innerText = message;
                    formGroup.className = 'form-group row align-items-center error';
                },

                // Set Successfull validation message
                setSuccessFor: function (input) {
                    const formGroup = input.parentElement;
                    formGroup.className = 'form-group row align-items-center success';
                },

                /*
                 * Requirements Functions
                 */

                // Open New Requirement Modal
                newRequirementModal: function () {
                    $('#requirement-modal').modal('show');
                    this.modalTitle = "New Requirement";
                },

                closeModal: function () {
                    $('#requirement-modal').modal('hide');

                    this.requirement = {
                        index: '',
                        name: '',
                        description: '',
                        category: '',
                        priority: ''
                    };

                    this.resetArrays();
                },

                // Add Requirement
                addRequirement: function () {
                    if (this.checkInputsRequirementsModal()) {
                        $('#new-requirement-modal').modal('hide');
                        this.requirement.quality = this.totalIndicators;
                        const clone = Object.assign({}, this.requirement);
                        this.requirementsList.push(clone);
                        this.closeModal();
                    }
                },

                // Edit Requirement
                editRequirement: function (index) {
                    //this.requirementsList[index] = this.requirement;
                    const clone = Object.assign({}, this.requirement);
                    this.requirementsList.splice(index, 1, clone);
                    console.log(index);
                    this.closeModal();
                    this.resetArrays();
                },

                // Delete Requirement
                deleteRequirement: function (index) {
                    this.requirementsList.splice(index, 1);
                },

                // Which requirement was clicked
                requirementClicked: function (requirement, index) {
                    this.requirement.index = index;
                    this.requirement.name = requirement.name;
                    this.requirement.description = requirement.description;
                    this.requirement.category = requirement.category;
                    this.requirement.priority = requirement.priority;
                    $('#requirement-modal').modal('show');
                    this.modalTitle = "Edit Requirement";
                    this.detectWords();
                },

                // Update form progress bar
                setProgressBar: function () {
                    var step = this.step - 1;
                    var steps = this.totalsteps - 1;
                    var $progressBar = $('.main-progress');
                    var percent = parseFloat(100 / steps) * step;
                    console.log(percent);
                    percent = percent.toFixed();
                    $progressBar.css('width', percent + "%");

                    if (this.step == 3) {
                        $progressBar.css('border-radius', '320px');
                    } else {
                        $progressBar.css('border-radius', '.5rem 0px');
                    }
                },

                /*
                 * Requirements Ambiguity Scanner
                 */

                // Reset Arrays
                resetArrays: function () {
                    this.allArrays.forEach(word => {
                        word.true = 0;
                    });
                },

                // Word Detector
                detectWords: function () {

                    //For each word in the array
                    this.optionalityIndicators.forEach(word => {
                        if (this.wordInString(this.requirement.description, word.word)) {
                            word.true = 1;
                        } else {
                            word.true = 0;
                        }
                    })

                    this.subjectivityIndicators.forEach(word => {
                        if (this.wordInString(this.requirement.description, word.word)) {
                            word.true = 1;
                        } else {
                            word.true = 0;
                        }
                    })

                    this.vaguenessIndicators.forEach(word => {
                        if (this.wordInString(this.requirement.description, word.word)) {
                            word.true = 1;
                        } else {
                            word.true = 0;
                        }
                    })

                    this.weaknessIndicators.forEach(word => {
                        if (this.wordInString(this.requirement.description, word.word)) {
                            word.true = 1;
                        } else {
                            word.true = 0;

                            //if (this.subjectivityIndicators.every(word => !word.true)) {
                            //    console.log('yep');
                            //}
                        }
                    })

                    this.implicityIndicators.forEach(word => {
                        if (this.wordInString(this.requirement.description, word.word)) {
                            word.true = 1;
                        } else {
                            word.true = 0;
                        }
                    })


                    this.multiplicityIndicators.forEach(word => {
                        if (this.wordInString(this.requirement.description, word.word)) {
                            word.true = 1;
                        } else {
                            word.true = 0;
                        }
                    })

                },

                wordInString: function (s, word) {
                    return new RegExp('\\b' + word + '\\b', 'i').test(s);
                },
            }
        });
    </script>
}